name: CI


on:
  push:
    branches:
      - main
jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Build Docker image
        run: docker build -t winequality:latest .

