name: CI


on:
  push:
    branches:
      - main
jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_HUB_TOKEN}}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME}}/winequality1:latest .

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME}}/winequality1:latest

